.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-wrapper {
  max-width: 300px;
  margin: 20px auto;
}

  .block__item {
    width: 98px;
    float: left;
    height: 100px;
    box-shadow:
    2px 0 0 0 #e7e7e7,
    0 2px 0 0 #e7e7e7,
    2px 2px 0 0 #e7e7e7,   /* Just to fix the corner */
    2px 0 0 0 #e7e7e7 inset,
    0 2px 0 0 #e7e7e7 inset;
  }

  .block__item.active {
    background-color: #32d966;
    color: #ffffff;
    box-shadow: 0 0 50px #32d966;
  }

/* styling of the markers */
.block__item--mark {
  line-height: 98px;
  font-size: 45px;
  font-weight: 300;
}
